<!-- templates/home.html-->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container text-center">
  {% if user.is_authenticated %}
  <nav class="nav justify-content-center">
      <a class="nav-link active" href="#">Home</a>
      <a class="nav-link" href="#">Summary</a>
      <a class="nav-link" href="{% url 'logout' %}">Logout</a>
    </nav>
    <h2 class="display-2">Welcome, {{ user.username }}!</h2>
  {% else %}
    <p class="display-3">You are not logged in</p>
    <a href="{% url 'login' %}">Login</a>
  {% endif %}
</div>
{% endblock %}
